.header {
  background-color: red;
  padding: 22px;
  color: white;
  font-size: 35;
  font-weight: bold;
}

.navbar {
  background-color: rgb(59, 59, 59);
  padding: 15px 10px;
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  padding: 5px;
}

.login {
  position: absolute;
  right: 25px;
  top: 31px;
  color: black;
}

a {
  color: white;
}

.main_img {
  margin: 25px;
}

.side1_img {
  position: absolute;
  right: 30px;
  top: 200px;
}
.side2_img {
  position: absolute;
  right: 30px;
  top: 550px;
}
.side3_img {
  position: absolute;
  right: 30px;
  top: 900px;
}

.title1 {
  font-weight: bold;
  position: absolute;
  right: 193px;
  top: 170px;
  font-size: 20
}

.title2 {
  font-weight: bold;
  position: absolute;
  right: 179px;
  top: 520px;
  font-size: 20
}

.title3 {
  font-weight: bold;
  position: absolute;
  right: 160px;
  top: 871px;
  font-size: 20
}

.body_header {
  position: relative;
  left: 40px;
  font-weight: bold;
  font-size: 25
}

article {
  width: 80%
}

article p {
  margin: 20px 25px 40px 40px;
  width: 90%;
  font-size: 18
}

footer {
  color: white;
  background-color: rgb(59, 59, 59);
  padding: 30px
}